<ion-header>
  <ion-navbar>
    <ion-title>
      Driver Salary
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-row>
    <ion-item>
        <ion-label color="primary">Driver Name</ion-label>
        <ion-select (ionChange)="getDriverId($event)">
          <ion-option value="{{item.id}}" [selected]="item.id==driverId" *ngFor="let item of driverList">{{item.driverName}}</ion-option>
        </ion-select>
    </ion-item>
  </ion-row>

    <ion-row>
      <ion-col>Date</ion-col>
      <ion-col>Payment</ion-col>
      <ion-col>Freight No.</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of salaryList">
        <ion-col>{{item.createdDate}}</ion-col>
        <ion-col>{{item.paymentAmt}}</ion-col>
        <ion-col>{{item.freightNumber}}</ion-col>
    </ion-row>

</ion-content>
